<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
</head>
<body>
<h1>Add a new book</h1>
<form method="post">
    <label for="author">Author</label>&#160;<input type="text" list="authors" id="author" name="author"><br>
    <datalist id="authors">
        {#for author in authors}
        <option value="{author}">
        {/for}
    </datalist>
    <label for="title">Title</label>&#160;<input type="text" id="title" name="title"><br>
    <label for="type">Type</label>&#160;
    <select name="type" id="type">
        <option value="R">Roman / Prose</option>
        <option value="S">Sachbuch / Non-fiction</option>
    </select><br>
    <label for="state">State</label>&#160;
    <select name="state" id="state">
        <option value="R">Read</option>
        <option value="U">Unread</option>
    </select><br>
    <input type="submit">
</form>
</body>
</html>
